<!-- html_template_Canceled_Loan_Checking_for_Reason -->

<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br></p>
        <br>
        Thank you for contacting InstaMoney.<br>
        <br>
        We appreciate your response and want to inform you that your loan application, facilitated by our lending partner, has been marked as "Cancelled".<br>
        <br>
        We regret the experience you had this time but remain committed to providing you with the best possible service in the future.<br>
        <br>
        Best Regards,<br>
        Team Instamoney<br>
        <br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
        <br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>