<!-- html_template_Collection_query -->

<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br>
            <br>
            Welcome to Instamoney,<br>
            <br>
            We've received your email and truly value your feedback.<br>
            <br>
            To assist you better, could you please describe your concern using any one of the following:<br>
            <br>
                1. Concerns related to EMI payment<br>
                2. Promise to Pay<br>
                3. Valid Concern for Collection Follow-ups<br>
            <br>
            Kindly provide any necessary documents related to your query. Thank you for your cooperation.<br>
            <br>
            Best Regards,<br>
            Customer Support<br>
            <br>
            Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
            <br>
            <p style="font-size: 80.95%;">*This is a system-generated email.</p>
        </p>
    </body>
</html>
