<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br>
            <br>
            Thank you for reaching out to InstaMoney's customer support.<br>
            <br>
            We understand that you have signed up as a lender mistakenly and want to avail the loan. We provide loan. If you wish to avail the same, then we request you to answer some basic questions:<br>
            <ul>
                <li>Monthly take-home salary:</li>
                <li>Mode of Salary:</li>
                <li>Pincode:</li>
                <li>Past loans if any: Yes or No</li>
                <li>Recent Defaults if any: Yes or No</li>
            </ul>
            <br>
            Once we receive a response to the above questions, we will assist you accordingly.<br>
            <br>
            Best Regards,<br>
            Team Instamoney<br>
            <br>
            Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
            <br>
            <p style="font-size: 80.95%">*This is a system-generated email.</p>
        </p>
    </body>
</html>
