<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for contacting InstaMoney.
        <br><br>
        We would like to inform you that your account was upgraded to InstaMoney Plus, allowing you to borrow instantly. While you currently do not have an active loan, please note that your account is not reported as closed unless you submit a request to surrender the account.
        <br><br>
        Kindly confirm if you wish to proceed with the closure. Upon receiving your confirmation, the account will be marked as closed, and a No Due Certificate (NDC) will be sent to your registered email.
        <br><br>
        Following this, CIBIL and other credit bureaus will be notified with the update in the next 15 calendar days.
        <br><br>
        We look forward to your response.
        <br><br>
        Thank you.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
