<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney!
        <br><br>
        Due to a surge in demand, loan disbursements with our lending partner Innofin Solution P Ltd are taking longer than usual. Please note that the process may take up to 7 working days.
        <br><br>
        We understand the urgency and are actively working to process your request as soon as possible. We sincerely regret any inconvenience this may cause and truly appreciate your patience.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>