<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br>
            <br>
            Greetings of the day!<br>
            <br>
            If you have a concern related to any of the following options, please choose one:<br>
	    <br>1. Cash Withdrawal
	    <br>2. Payment
	    <br>3. Available Limit
	    <br>4. Closure-related
            <br>5. Others (Non of the Above)
            <br>
	    <br>
	    Thank you.
	    <br>
	    <br>
            Best Regards,<br>
            Customer Support<br>
            <br>
            Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
            <br>
            <p style="font-size: 80.95%;">*This is a system-generated email.</p>
        </p>
    </body>
</html>
