<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney!
        <br><br>
        Upon checking your loan application, it came to our notice that your loan application is incomplete. We request you to complete the loan application.
        <br><br>
        If you are facing any issues while completing the loan application, please write to us and share a screen recording of the screen you are stuck at, and our team will assist you accordingly.
        <br><br>
        Thank you.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
