<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney!
        <br><br>
        We request you to kindly share the error screen recording so we can further assist and help you resolve the issue.
        <br><br>
        Thank you.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
