<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney!
        <br><br>
        Please ensure you are uploading a proper statement of the latest 2 months in PDF format, where your latest 2 salary transactions are visible. You can download the statement through internet banking and upload the same as it is in the app.
        <br><br>
        You can also proceed to upload the bank statement with the other options as well. Ensure you take care of the above point while proceeding.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
