<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney!
        <br><br>
        We’re delighted to inform you that your loan amount facilitated by our lending partner Innofin Solution P Ltd has been successfully credited to your bank account.
        <br><br>
        You can find all the loan details in the mobile application and the welcome email sent to your registered email address. To stay on top of your EMIs, you can easily track and manage your payments through the InstaMoney app.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
