<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        Thank you for reaching out to InstaMoney.
        <br><br>
        It seems you have written to us from an email ID that isn't registered. Kindly share your registered credentials (email ID and/or mobile number used while signing in).
        <br><br>
        Once we receive the requested details, we will assist you further.
        <br><br>
        Awaiting your quick response.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
