<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br>
            <br>
            Welcome to Instamoney,<br>
            <br>
            To assist you better, could you please describe your concern using any one the following:<br>
            <br>
                1. Registration Fee Inquiry<br>
                2. Registration Fee Payment Completed, Awaiting Update<br>
                3. Registration Fee Payment Made, Awaiting Loan Confirmation<br>
            <br>
            Kindly provide any necessary documents related to your query. Thank you for your cooperation.<br>
            <br>
            Best Regards,<br>
            Customer Support<br>
            <br>
            Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
            <br>
            <p style="font-size: 80.95%;">*This is a system-generated email.</p>
        </p>
    </body>
</html>
