<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,<br></p>
        <br>
        We are sorry to hear that you want to cancel the loan application.<br>
        <br>
        We will appreciate it if you can let us know the reason for the cancellation. However, the registration fee paid is non-refundable under any circumstances.<br>
        <br>
        Best Regards,<br>
        Team Instamoney<br>
        <br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u><br>
        <br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
