<html>
    <head>
    </head>
    <body>
        <p>Dear Customer,</p>
        <br>
        We apologize for the inconvenience caused to you.
        <br><br>
        We have forwarded your request to stop the promotional SMS and emails sent from our end.
        <br><br>
        <b>Note:</b> Transactional emails/SMS cannot be stopped as they include important information regarding your account with us.
        <br><br>
        Do let us know if there is anything else we can do.
        <br><br>
        Best Regards,<br>
        Team Instamoney
        <br><br>
        Have a look at our FAQ's <u style="color:blue">https://bit.ly/2NsxH06</u>
        <br><br>
        <p style="font-size: 80.95%;">*This is a system-generated email.</p>
    </body>
</html>
